<template>
    <div class="q-py-xl" style="background-color:#F5F5F5">
        <div class="q-pa-xl text-center">
            <div class="text-center">
            <label class="text-h4 text-weight-bolder text-center">Your Assets. </label>
            <label class="text-h4 text-weight-bolder text-center text-primary">Future.</label>
            </div>
            <div class="text-center">
            <label>enjoy the experience</label>
            </div>
        </div>
        <div class="q-px-md q-py-xl" >
            <q-carousel
            v-model="slide"
            transition-prev="slide-right"
            transition-next="slide-left"
            swipeable
            animated
            control-color="primary"
            navigation
            padding
            height="300px"
            width="500px"
            class="rounded-borders"
            style="background-color:#F5F5F5"
            >
            <q-carousel-slide :name="1" class="column no-wrap">
                <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
                <q-img class="rounded-borders full-height" src="1.jpg" />
                </div>
            </q-carousel-slide>
            <q-carousel-slide :name="2" class="column no-wrap">
                <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
                <q-img class="rounded-borders full-height" src="2.jpg" />
                </div>
            </q-carousel-slide>
            <q-carousel-slide :name="3" class="column no-wrap">
                <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
                <q-img class="rounded-borders full-height" src="3.jpg" />
                </div>
            </q-carousel-slide>
            </q-carousel>
        </div>
        <div class="q-pa-xl text-center">
            <div class="q-pa-xs" >
               <q-btn class="full-width" outline style="color:primary; height: 50px;" unelevated rounded color="primary" label="Register" />
            </div>
            <div>
                <q-btn class="full-width" style="color:primary; height: 50px;" unelevated rounded color="primary" label="Log-in" />    
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data () {
    return {
      slide: 1
    }
  }
}
</script>