<template >
  <q-layout view="lHh Lpr lFf" style="background-color: #f5f5f5;">
    <q-card
      class="q-mx-auto q-mt-sm"
      flat
      style="
        width: 317px;
        height: 61px;
        border-radius: 15px;
        background-color: #a7b1d1;
      "
    >
      <center class="PTSans-Bold" style="font-size: 15px; padding-top: 10px">
        Strict to Trading Rules & Trading Plan
      </center>
      <center style="font-size: 13px; padding-top: 4px">
        -Trade as Pro Trader-
      </center>
      <q-card-section> </q-card-section>
    </q-card>

    <div class="row" style="padding-top: 20px;">
      <div class="col">
        <q-card class="q-mx-auto"
          flat
          style="width: 80%; height: 168px; margin-top: 10px;"
        >
          <center>
           <img src="chart.png" style="width:250px;margin-top:10px" alt="">
          </center>
        </q-card>
      </div>
    </div>

    
    <div class="row" style="position: relative; top: 20px">
    
      <div class="col q-mt-sm" style="width:33%;min-width:100px">
        <center >
          <img src="investor/investor rules.png" style="border-radius:10px;width: 55px; height: 55px" />
          <div style="text-align: center">Investor <br> Rules</div>
        </center>
      </div>
      <div class="col q-mt-sm" style="width:33%;min-width:100px">
        <center>
          <img src="investor/master trader.png" style="border-radius:10px;width: 55px; height: 55px" />
          <div>Trading <br> Rules</div>
        </center>
      </div>
      <div class="col q-mt-sm"  style="width:33%;min-width:100px">
        <center >
          <img src="investor/result.png" style="border-radius:10px;width: 55px; height: 55px" />
          <div style="text-align: center">Transaction <br> Summary</div>
        </center>
      </div>

       <div class="col q-mt-sm"  style="width:33%;min-width:100px">
        <center >
          <img src="investor/analyzer.png" style="border-radius:10px;width: 55px; height: 55px" />
          <div style="text-align: center">Trade <br> Analyzer</div>
        </center>
      </div>

      <div class="col q-mt-sm"  style="width:33%;min-width:100px">
        <center >
          <img src="investor/result.png" style="border-radius:10px;width: 55px; height: 55px" />
          <div style="text-align: center">Investment <br> Analyzer</div>
        </center>
      </div>

      <div class="col q-mt-sm"  style="width:33%;min-width:100px">
        <center >
          <img src="investor/result.png" style="border-radius:10px;width: 55px; height: 55px" />
          <div style="text-align: center">Transaction <br> Investment</div>
        </center>
      </div>
    </div>

  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",

  data() {
    return {
     
    }
  },
 methods:{

     test(){
       console.log("test")
      },
     
  }
};
</script>