<template>
<q-layout view="lHh Lpr lFf" style="background-color:#F5F5F5;height:783px">
    
    <q-header style="height:55px">
      <q-toolbar style="margin-top:4px">
        <q-btn round color="white" style="width:35px; height:35px">
         
              <i style="font-size:15px;" class="text-black fas fa-arrow-left"></i>
         
        </q-btn>
      
        <q-toolbar-title>
          Home
        </q-toolbar-title>

        <q-avatar style="width:35px; height:35px">
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>

        <q-avatar class="q-ml-sm bg-white">
          <div size="xs" class="fas fa-bell text-black"><q-badge color="red" floating>4</q-badge></div >
        </q-avatar>
       
      </q-toolbar>
            
    </q-header>
  <div class="q-pa-md">
    <div style="max-width: 1000px; margin-top:60px">
      <q-input outlined v-model="ph" bg-color="white" placeholder="Search Master Trader" :dense="dense">
      <template v-slot:prepend>
          <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
    <div class="q-pa-md">
      <q-tabs
        v-model="tab"
        active-color="blue"
        indicator-color="primary"
        align="justify"
        narrow-indicator
        class="q-mb-lg"
        style="background-color:#F5F5F5"
      >
        <q-tab class="text-black" name="mails" label="Mails" />
        <q-tab class="text-black" name="alarms" label="Alarms" />
        <q-tab class="text-black" name="movies" label="Movies" />
      </q-tabs>

      <div class="q-gutter-y-sm">
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="scale"
          transition-next="scale"
          class="bg-white text-black"
        >
          <q-tab-panel name="mails">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Muhammad Rizki</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="alarms">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Muhammad Rizki</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="movies">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Anggi</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>
        </q-tab-panels>

        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="scale"
          transition-next="scale"
          class="bg-white text-black"
        >
          <q-tab-panel name="mails">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Anggi</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="alarms">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Muhammad Rizki</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="movies">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Muhammad Rizki</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>
        </q-tab-panels>

        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="scale"
          transition-next="scale"
          class="bg-white text-black"
        >
          <q-tab-panel name="mails">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Novita</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="alarms">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Muhammad Rizki</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="movies">
            <q-item>
              <q-item-section avatar top>
                <q-avatar style="width:100px; height:100px" rounded>
                  <img src="foto.jpg">
                </q-avatar>
              </q-item-section>
              <q-item-section top>
                <q-item-label lines="1">
                  <span class="text-h6">Muhammad Rizki</span>
                </q-item-label>
                <q-item-label>
                  <q-rating
                    v-model="ratingModel"
                    size=20px
                    color="orange"
                    readonly
                  />
                </q-item-label>
                <q-item-label>
                  <q-avatar color="blue" text-color="white" icon="attach_money" size="35px"/>
                  <label class="q-pa-xs text-h6">20.000</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="swap_vert" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
              <q-item-section class="text-center">
                <q-item-label>
                  <q-icon color="primary" name="group" size="35px"/>  
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">30</label>
                </q-item-label>
                <q-item-label>
                  <label class="q-pa-xs text-h6">wins</label>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </div>
  </div>
</q-layout>
</template>

<script>
export default {
  data () {
    return {
      tab: 'mails',
      ratingModel:3,
      text:'',
      ph:'',
      dense:false
    }
  }
}
</script>