<template >
  <q-layout view="lHh Lpr lFf" style="background-color: #f5f5f5;" class="PTSans">
    <q-header style="height: 55px;background-color:#03318c">
      <q-toolbar style="margin-top: 4px">
        <q-btn round color="white" style="width:35px;height:35px;">
          <center><i style="font-size: 15px" class="text-black fas fa-arrow-left"/> </center>
        </q-btn>

        <q-toolbar-title class="PTSerif-Bold"> {{tabs}} </q-toolbar-title>

        <q-avatar style="width:35px;height:35px;">
          <img src="https://cdn.quasar.dev/img/avatar.png" />
        </q-avatar>

        <q-avatar class="q-ml-sm bg-white" style="width:35px;height:35px;">
          <div size="xs" class="fas fa-bell text-black">
            <q-badge color="red" floating>4</q-badge>
          </div>
        </q-avatar>
      </q-toolbar>
    </q-header>

    <q-page-container>
        <router-view />
    </q-page-container>
     
    <q-footer  class=" PTSans-Bold" style="background-color: #ffffff; height: 55px">
      <div class="row q-py-xs">
       
        <div class="col text-center text-black" style="width:19%">
            <img :src="tabs=='Home'?'investor/icon_home_active.png':'investor/icon home.png'" @click="navigate('Home','/home')"  style="width:25px;cursor: pointer;" >
            <div :class="tabs=='Home'?'text-primary':'text-black'" style="font-size: 10px">home</div>
        </div>
         <div class="col text-center text-black" style="width:19%">
            <img :src="tabs=='Account'?'investor/account_active.png':'investor/account_no.png'" @click="navigate('Account','/account')" style="width:25px;">
            <div :class="tabs=='Account'?'text-primary':'text-black'" style="font-size: 10px">Account</div>
        </div>
         <div class="col text-center text-black" style="width:24%;">
            <div class="relative-position" style="bottom:25px">
                <img src="menus.png" clickable width="50px" @click="navigate('Dashboard','/dashboard')" style="border-radius:15px;">
                <div :class="tabs=='dashboard'?'text-primary':'text-black'" style="font-size: 10px">Dashboard</div>
            </div>
        </div>
         <div class="col text-center text-black" style="width:19%">
              <img :src="tabs=='History'?'investor/icon_history_active.png':'investor/icon_profil.png'" @click="navigate('History','/history')" style="width:25px;">
              <div :class="tabs=='history'?'text-primary':'text-black'" style="font-size: 10px">history</div>
        </div>
         <div class="col q-px-auto text-center text-black" style="width:19%">
           <img :src="tabs=='About'?'investor/about_active.png':'investor/about_no.png'" @click="navigate('About','/About')" style="width:25px;">
              <div :class="tabs=='About'?'text-primary':'text-black'" style="font-size: 10px">About</div>
        </div>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>

export default {
  name: "MainLayout",

  data() {
    return {
      tabs:'Home',
    }
  },
 methods:{

     test(){
       console.log("test")
      },
      navigate(route,route2) {
      this.tabs=route;
      this.$router.replace(route2);
    },
  }
};
</script>