<template>
  <q-layout view="lHh Lpr lFf" style="background-color:#F5F5F5;height:100%">
    <!-- <q-header>
       <q-toolbar style="margin-top:10px">
        <q-toolbar-title>
          Master
        </q-toolbar-title>

        <q-avatar>
          <img src="https://cdn.quasar.dev/img/avatar.png" />
        </q-avatar>

        <q-avatar class="q-ml-md">
          <img src="https://cdn.quasar.dev/img/avatar.png" />
        </q-avatar>
      </q-toolbar> -->
      <!-- <q-card class="my-card q-mx-md" style="margin-top:30px">
      <q-card-section>
      <div class="text-h3" style="color:red">Our Changing Planet</div>
      </q-card-section>
    </q-card> -->

    <!-- <q-card
      class="my-card text-white"
      style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
    >
    </q-card> -->
    <!-- </q-header> -->

    <!-- <q-footer elevated>
      <q-toolbar>
        <q-toolbar-title>Footer</q-toolbar-title>
      </q-toolbar>
    </q-footer> -->

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

</script>
