<template >
  <q-layout view="lHh Lpr lFf" style="background-color: #f5f5f5;">
    
 <div style="height:120px;background-color:#03318c;width:100%" >
    
 </div>
    <q-card
      class="q-mx-auto q-mt-sm"
      flat
      style="
        width: 94%;
        border-radius: 15px;
        top: -90px;
        background-color: white;
      "
    >
      <q-card-section class="q-px-none"> 
            <div class="fs20 q-mx-sm PTSerif-Bold">Account</div> 
          <table class="customers q-mt-sm" style="margin: auto;" >
              <tr  class="PTSans-Bold" >
                  <th >Broker</th>
                  <th>Account</th>
                  <th>Code</th>
                  <th>Owner</th>
              </tr>
              <tr></tr>
              <tr v-for="data in datas" :key="data" >
                  <td class="PTSans-Bold" @click="navigate('/acountdetail')">{{data.Broker}}</td>
                   <td>{{data.Account}}</td>
                    <td>{{data.code}}</td>
                     <td>{{data.Owner}}</td>
              </tr>
               
          </table>
      </q-card-section>
    </q-card>
    <div>
        <q-btn round class="fixed-bottom-right" style="bottom:80px;right:5%" color="deep-purple-10" icon="fas fa-plus" />
    </div>
  </q-layout>
</template>

<style>
.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

.customers tr:nth-child(even){background-color:#59a0e7;;}

.customers tr:hover {background-color:#59a0e7;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #59a0e7;
  
}
</style>

<script>
export default {
  name: "MainLayout",

  data() {
    return {
      tabs:'',
      datas:[
        {
          'Broker' : 'Annisa',
          'Account' : '0022123',
          'code' : 'EURUSD',
          'Owner'  :'Annisa'
        },
        {
          'Broker' : 'Fahmi',
          'Account' : '0022124',
          'code' : 'EURUSD',
          'Owner'  :'Fahmi'
        },
         {
          'Broker' : 'Dwi',
          'Account' : '0022125',
          'code' : 'EURUSD',
          'Owner'  :'Dwi'
        },
        
      ]
    }
  },
  mounted(){
    console.log(this.datas)
  },
 methods:{

     test(){
       console.log("test")
      },
      navigate(route){
        this.$router.replace(route);
      }
  }
};
</script>