<template>
  <div class="q-pa-md items-start q-gutter-md">
    <q-card class="my-card q-my-lg">
      <q-card-section>
        <div class="row justify-center">
          <q-avatar size="150px" font-size="52px">
            <img src="profile\toa-heftiba-O3ymvT7Wf9U-unsplash.jpg" />
          </q-avatar>
        </div>
        <div class="text-center text-bold text-h6">
          Fenti Vidyantika
        </div>
        <div class="text-center">
          <span class="text-subtitle1 text-weight-light">Investor</span>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="my-card q-my-md">
        <q-card-section>
            <div class="text-bold text-h5">
                General
            </div>
            <div class="q-my-md">
                <span class="text-subtitle1">Institutions</span>
               <div class="text-bold text-h6">
                    Gerbang Investasi Bersama
               </div>
            </div>
        </q-card-section>
    </q-card>
    <q-card class="my-card q-my-md">
        <q-card-section>
            <div class="text-bold text-h5">
                Account
            </div>
            <div>
                
            </div>
        </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
    };
  }
};
</script>

<style></style>
