<template>
    <div class="q-pa-md fullscreen test">
        <div class="q-pa-md fixed-center" style="width:500px; height:500px">
            <q-img class="rounded-borders" src="logomedallion.png"/>
        </div>
    </div>
</template>

<style scoped>
.test{
    background-color:#F5F5F5;
}
</style>

<script>
export default {
    mounted(){
        // setTimeout(function(){ this.$router.push('/splash'); }, 30000);
         setTimeout(()=>{
        this.$router.push('/rules')
        }, 3000)
    }
}
</script>