<template >
  <q-layout view="lHh Lpr lFf" style="background-color: #f5f5f5;">
    <q-card
      class="q-mx-auto q-mt-sm"
      flat
      style="
        width: 94%;
        border-radius: 10px;
       
      "
    >
     <q-card-section> 
     <label class="PTSans-Bold fs15">About This App</label><br>
     <label class="fs10 ">version</label><br>
     <label  class="PTSans-Bold fs12">1.0.0</label><br>
     <label class="fs10">Third party license</label><br>
     <label  class="PTSans-Bold fs12">Third Party Software That Help US</label><br>
     <label class="fs10">Privacy Policy</label><br>
     <label  class="PTSans-Bold fs12">Read It, This Is Important</label><br>
     <label  class="fs10">Term And Conditions</label><br>
     <label  class="PTSans-Bold fs12">Everything You Need To Know</label><br>
      </q-card-section>
    </q-card>

    <q-card
      class="q-mx-auto q-mt-sm"
      flat
      style="
        width: 94%;
        border-radius: 10px;
       
      "
    >
     <q-card-section> 
     <label class="PTSans-Bold fs15">Send Us A Feedback!</label><br>
      <q-input style="margin-top:20px"  type="textarea" outlined >
        <template v-slot:prepend >
            <div class="fs12 bg-white absolute " style="top:-10px;left:5px">
                Write Down Your Message
            </div>
        </template>
      </q-input>
       <q-btn class="q-mt-sm " outline color="primary" label="Outline" style="width:100%;border-radius:10px"  />
      </q-card-section>
    </q-card>

  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",

  data() {
    return {
     
    }
  },
 methods:{

     test(){
       console.log("test")
      },
     
  }
};
</script>