<template>
  <q-layout view="lHh Lpr lFf" style="background-color:#F5F5F5;height:783px">
    
    <q-header style="height:137px">
      <q-toolbar style="margin-top:10px">
        <q-btn round color="white">
         
              <i style="font-size:15px;" class="text-black fas fa-arrow-left"></i>
         
        </q-btn>
      
        <q-toolbar-title>
          Home
        </q-toolbar-title>

        <q-avatar>
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>

        <q-avatar class="q-ml-sm bg-white">
          <div size="xs" class="fas fa-bell text-black"><q-badge color="red" floating>4</q-badge></div >
        </q-avatar>
       
      </q-toolbar>
       <q-card  class=" q-mx-auto q-mt-sm" flat  style="width:317px;height:124px;">
          <q-card-section>
            <div class=" text-black " style="font-size:15px;font-weight:bold">Total profit</div>

             <q-btn color="white" label="today" outline text-color="primary" style="width:79px;height:25px;border-radius:10px;font-size:13px;text-align: center;position: absolute;right: 10px;top: 10px;" />
            <label class="text-primary ">
             
                <div style=" font-size:15px;position: absolute;left:98px;top:45px;">USD</div> 
                <div style=" font-size:30px;position: absolute;right: 98px;top:55px;font-weight: bold">660,20</div>
             
               </label>
               
               <div class="q-mx-auto text-primary" style=" font-size:12px;position: absolute;top:105px;left:64px; margin-bottom:10px"> <font style="color:#8ED87C">+ 0,69% </font> <font class="text-black"> From Deposite </font> <font style="color:#0172E3;" >USD 96, 310,97</font></div>
            
          </q-card-section>
      </q-card>
      <div class="row">
        <div class="col">
           <q-card  flat  style="width:151px;height:168px;margin-top:10px;left:20px">
                <q-card-section>
                  <div class=" text-black " style="font-size:15px;font-weight:bold">Total profit</div>
                </q-card-section>
            </q-card>
        </div>
         <div class="col">
             <q-card  flat  style="width:151px;height:168px;margin-top:10px;float:right;right:20px">
                <q-card-section>
                  <div class=" text-black " style="font-size:15px;font-weight:bold">Total profit</div>
                </q-card-section>
            </q-card>
        </div>

      </div>
      
    </q-header>

   

   

    <q-footer style="background-color:#FFFFFF;margin-bottom:45px;height:55px">
        <q-tabs
          
          
          class=" text-grey-7 q-mt-xs"
          active-color="primary"
          align="justify"
        >
          <q-tab name="mails" >
            <i style="font-size:20px;" class="text-black fas fa-home q-mb-xs"></i>
            <label style="font-size:13px" >home</label>
         </q-tab>
          <q-tab name="alarms">
             <i style="font-size:20px;" class="text-black fas fa-poll q-mb-xs"></i>
            <label style="font-size:13px" >result</label>
          </q-tab>
          <q-tab name="movies" >
            <i style="font-size:20px;" class="text-black fas fa-poll q-mb-xs"></i>
            <label style="font-size:13px" >trading</label>
          </q-tab>
          <q-tab name="movies2">
            <i style="font-size:20px;" class="text-black fas fa-history q-mb-xs"></i>
            <label style="font-size:13px" >history</label>
          </q-tab>
        </q-tabs>
      </q-footer>

    <q-page-container>
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>