<template >
  <q-layout view="lHh Lpr lFf" style="background-color: #f5f5f5">
    <q-header style="height: 55px; background-color: #03318c">
      <q-toolbar style="margin-top: 4px">
        <q-btn round color="white" style="width: 35px; height: 35px">
          <center>
            <i style="font-size: 15px" class="text-black fas fa-arrow-left" />
          </center>
        </q-btn>

        <q-toolbar-title class="PTSerif-Bold fs20">
          Account Details
        </q-toolbar-title>

        <q-avatar style="width: 35px; height: 35px">
          <img src="foto1.jpg" />
        </q-avatar>

        <q-avatar class="q-ml-sm bg-white" style="width: 35px; height: 35px">
          <div size="xs" class="fas fa-bell text-black">
            <q-badge color="red" floating>4</q-badge>
          </div>
        </q-avatar>
      </q-toolbar>
      <!-- <q-card
        class="q-mx-auto q-mt-sm"
        flat
        style="
          width: 317px;
          height: 124px;
          background-image: url('card.png');
          border-radius: 15px;
        "
      >
        <q-card-section>
          <div class="text-black" style="font-size: 15px; font-weight: bold">
            Total profit
          </div>

          <q-btn
            color="white"
            outline
            text-color="primary"
            style="
              width: 79px;
              height: 25px;
              border-radius: 10px;
              font-size: 13px;
              text-align: center;
              position: absolute;
              right: 10px;
              top: 10px;
            "
            ><label style="margin-top: -8px">today</label>
          </q-btn>

          <label class="text-primary">
            <div
              style="font-size: 15px; position: absolute; left: 98px; top: 45px"
            >
              USD
            </div>
            <div
              style="
                font-size: 30px;
                position: absolute;
                right: 98px;
                top: 45px;
                font-weight: bold;
              "
            >
              660,20
            </div>
          </label>
          <q-separator
            style="width: 264px; position: absolute; top: 94px; left: 27px"
          />
          <div
            class="q-mx-auto text-primary"
            style="
              font-size: 12px;
              position: absolute;
              top: 99px;
              left: 64px;
              margin-bottom: 10px;
            "
          >
            <font style="color: #8ed87c">+ 0,69% </font>
            <font class="text-black"> From Deposite </font>
            <font style="color: #0172e3">USD 96, 310,97</font>
          </div>
        </q-card-section>
      </q-card> -->
    </q-header>

    <q-card
      class="q-mx-auto"
      flat
      style="
        margin-top: 25px;
        width: 90%;
        height: 180px;
        border-radius: 7px;
        top: 40px;
        background-color:white;
      "
    >
      <div class="row">
        <div class="col-4">
          <q-img
            src="foto1.jpg"
            style="max-width: 90px;border-radius:15px"
            img-class="my-custom-image"
            class="q-mx-sm q-my-sm"
          >
          </q-img>
        </div>
        <div class="col-8 q-mt-md text-left">
            <label class="PTSans-Bold fs20" >Annisa</label> <br>
             <q-rating
                
                max="5"
                size="20px"
                color="yellow"
                icon="star_border"
                icon-selected="star"
                icon-half="star_half"
                no-dimming
                />
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col q-my-auto" style="max-width:35px" >
                                 <img
                                src="investor/icon_trading_active.png"
                                style="width: 24px;"
                                />
                            </div>
                            <div class="col " style="max-width:35px">
                                 <label class="PTSans-Bold fs14" >30</label> <br>
                                 <label class="fs10" >wins</label>
                            </div>
                        </div>
                    </div>
                     <div class="col">
                        <div class="row">
                            <div class="col q-my-auto" style="max-width:35px" >
                                 <img
                                src="investor/followers.png"
                                style="width: 24px;"
                                />
                            </div>
                            <div class="col " style="max-width:35px">
                                 <label  class="PTSans-Bold fs14">79%</label> <br>
                                 <label class="fs10" >Followers</label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-6 ">
         <center><q-btn outline rounded size="10px" style="width:90%" color="primary" label="Follow +" /></center> 
        </div>
         <div class="col-6 ">
         <center><q-btn outline rounded size="10px" style="width:90%" color="primary" label="Send Message" /></center> 
        </div>
        
      </div>
    </q-card>

    <q-card
      class="q-mx-auto"
      flat
      style="
        margin-top: 25px;
        width: 90%;
        border-radius: 7px;
        top: 25px;
        background-color: white;
      "
    >
      <q-card-section >
          <label class="PTSans-Bold fs15">Profit</label><br >
          <div class="row">
            <div class="col-2 q-mt-sm"  >
                <img
                src="investor/dollar.png"
                style="width: 35px;"
                />
            </div>
            <div class="col q-my-auto">
               <label class="text-primary PTSans-Bold fs30" >20.000</label>
            </div>
        </div>
      </q-card-section>
    </q-card>

    <q-card
      class="q-mx-auto"
      flat
      style="
        margin-top: 15px;
        width: 90%;
        border-radius: 7px;
        top: 25px;
        background-color: white;
      "
    >
      <q-card-section >
          <label class="PTSans-Bold fs15">Activity</label><br >
          <div class="row">
            <div class="col-4 q-mt-md">
                <div class="row">
                    <div class="col q-my-auto" style="max-width:35px" >
                            <img
                        src="investor/icon_growth@2x.png"
                        style="width: 24px;"
                        />
                    </div>
                    <div class="col " style="max-width:35px">
                            <label  class="PTSans-Bold fs14">71%</label> <br>
                            <label  class="fs10">Growth</label>
                    </div>
                </div>
            </div>

             <div class="col-4 q-mt-md">
                <div class="row">
                    <div class="col q-my-auto" style="max-width:35px" >
                            <img
                        src="investor/icon_trading.png"
                        style="width: 24px;"
                        />
                    </div>
                    <div class="col " style="max-width:35px">
                            <label  class="PTSans-Bold fs14">90</label> <br>
                            <label  class="fs10">Trade</label>
                    </div>
                </div>
            </div>

             <div class="col-4 q-mt-md">
                <div class="row">
                    <div class="col q-my-auto" style="max-width:35px" >
                            <i class="fas fa-calendar-week" style="font-size: 24px"></i>
                    </div>
                    <div class="col " style="max-width:35px">
                            <label  class="PTSans-Bold fs14">35</label> <br>
                            <label  class="fs10">weeks</label>
                    </div>
                </div>
            </div>

             <div class="col-4 q-mt-md">
                <div class="row">
                    <div class="col q-my-auto" style="max-width:35px" >
                            <img
                        src="investor/icon_win@2x.png"
                        style="width: 24px;"
                        />
                    </div>
                    <div class="col " style="max-width:35px">
                            <label  class="PTSans-Bold fs14">90%</label> <br>
                            <label  class="fs10">Wins</label>
                    </div>
                </div>
            </div>

             <div class="col-4 q-mt-md">
                <div class="row">
                    <div class="col q-my-auto" style="max-width:35px" >
                            <img
                        src="investor/followers.black.png"
                        style="width: 24px;"
                        />
                    </div>
                    <div class="col " style="max-width:35px">
                            <label  class="PTSans-Bold fs14">44</label> <br>
                            <label  class="fs10">Subscribers</label>
                    </div>
                </div>
            </div>

            
        </div>
      </q-card-section>
    </q-card>

    <div class="row" >
      <div class="col">
        <q-card
        class="q-mx-auto"
        flat
        style="
            margin-top: 15px;
            width: 90%;
            border-radius: 7px;
            top: 25px;
            background-color: white;
        "
        >
         <q-card-section >
        <label class="PTSans-Bold fs15">Trend</label><br >
          <center>
            <img
              src="chart.png"
              style="width: 250px; margin-top: 10px"
              alt=""
            />
          </center>
         </q-card-section>
        </q-card>
      </div>
    </div>

    <!-- <q-footer style="background-color: #ffffff; height: 55px">
      <q-tabs
        class="text-grey-7 q-mt-xs"
        align="justify"
      >
        <q-tab style="width:19%"   name="mails" sty>
          <img src="investor/icon home.png" style="width:25px;" >
         <center style="font-size: 10px">home</center>
        </q-tab>
        <q-tab style="width:19%"   name="alarms">
          <i style="font-size: 20px" class="text-black fas fa-poll q-mb-xs"></i>
          <center style="font-size: 10px">Account</center>
        </q-tab>

        <q-tab style="width:24%"   name="alarms2">
          <img src="menus.png"  width="50px" style="border-radius:15px;margin-top:-30px;position:fixed">
          <center style="font-size: 10px;margin-top:25px">Dashboard</center>
        </q-tab>
       
        <q-tab style="width:19%"   name="movies2">
          <img src="investor/icon_profil.png" style="width:25px;">
          <center style="font-size: 10px">history</center>
        </q-tab>

         <q-tab style="width:19%"   name="movies">
          <i style="font-size: 20px" class="text-black fas fa-poll q-mb-xs"></i>
          <center style="font-size: 10px">About</center>
        </q-tab>
      </q-tabs>
    </q-footer> -->

    <q-page-container> </q-page-container>
  </q-layout>
</template>

<script>
// import FusionCharts from "fusioncharts";
// Charts(FusionCharts);
// import VueApexCharts from 'vue-apexcharts'
export default {
  name: "MainLayout",

  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
      chartOptions: {
        chart: {
          events: {
            dataPointSelection: (event, chartContext, config) => {
              var val = config.dataPointIndex;
              var label = chartContext.opts.xaxis.categories[val];
              this.setSelectedBar(label);
            },
          },
          height: 350,
          type: "bar",
        },
        plotOptions: {
          bar: {
            dataLabels: {
              position: "top", // top, center, bottom
            },
            distributed: true,
          },
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val;
          },
          offsetY: -10,
          style: {
            fontSize: "12px",
            colors: ["#000"],
          },
        },
        colors: ["#5B9BD5", "#ED7D31", "#A5A5A5", "#FFC000", "#4472C4"],
        xaxis: {
          categories: [],
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          tooltip: {
            enabled: true,
          },
        },
        yaxis: {
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: true,
            formatter: function (val) {
              return val;
            },
          },
        },
      },
    };
  },
};
</script>