<template>
  <div class="q-pa-md">
    <div class="text-center text-bold text-h3 q-pa-xl">
      <p class="h1text">
        Login to your account.
      </p>
    </div>
    <div class="q-pa-md  items-start q-gutter-md">
      <q-card class="my-card">
        <q-card class="q-pa-md">
          <img src="login\login.jpg" />
        </q-card>
        <q-card-section>
          <div class="q-pa-md">
            <div class="q-gutter-md" style="max-width: 100%">
              <q-input
                outlined
                v-model="text"
                label="Email"
                placeholder="Type your email here"
                style="width: 100%"
              />
              <q-input
                v-model="password"
                outlined
                :type="isPwd ? 'password' : 'text'"
                label="Password"
                style="width: 100%"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
            </div>
            <div class="q-my-md">
              <div class="row justify-between ">
                <div class="col-6 q-mx-xs ">
                  <span class="text-subtitle1">
                    forgot password?
                  </span>
                  <div class="q-mr-xs text-primary text-bold text-subtitle1">
                    Reset Password
                  </div>
                </div>
                <div class="col-4 ">
                  <!-- <div class="q-pa-md"> -->
                  <q-btn color="primary" label="Login" style="width: 100%" />
                </div>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="text-center">
        <span>
          don't have account?
          <q-btn flat color="primary" label="Register Now!" class="text-bold" to="/register"/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: "",
      password: "",
      isPwd: true
    };
  },
  methods: {
      navigate(route,route2) {
      this.tabs=route;
      this.$router.replace(route2);
    },
  }
};
</script>

<style>

.h1text {
  font-size: 50px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .h1text {
    font-size: 40px;
  }
}
</style>
