<template>
  <div class="q-pa-sm">
    <div class="text-center text-bold text-h3 q-my-lg">
      Register Now.
    </div>
    <div class=" q-my-xl items-start q-gutter-md">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-bold text-h5 text-left">
            Profile
          </div>
          <div class="q-my-lg q-gutter-md" style="width: 100%">
            <q-input
              style="width: 100%"
              outlined
              v-model="text"
              label="Fullname"
              placeholder="Type your fullname here"
            />
            <q-input
              style="width: 100%"
              class="q-mt-md"
              outlined
              v-model="text"
              label="Email"
              placeholder="Type your Email here"
            />
            <q-input
              style="width: 100%"
              class="q-mt-md"
              outlined
              v-model="text"
              label="Mobile Number"
              placeholder="Type your Mobile Number here"
            />
            <q-input
              style="width: 100%"
              class="q-mt-md"
              outlined
              v-model="text"
              label="Address"
              placeholder="Where do you live?"
            />
          </div>
        </q-card-section>
      </q-card>
    </div>
    <div class=" q-my-xs items-start q-gutter-md">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-bold text-h5 text-left">
            Security
          </div>
          <div class="q-my-lg q-gutter-md" style="max-width: 100%">
            <q-input
              v-model="password"
              outlined
              :type="isPwd ? 'password' : 'text'"
              label="Password"
              style="width: 100%"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-input
              v-model="confirmPswd"
              outlined
              :type="isPwd ? 'password' : 'text'"
              label="Confirmasi Password"
              style="width: 100%"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
        </q-card-section>
      </q-card>
      <div class="text-center ">
         <q-btn color="primary" label="Register"  class="full-width"/>
      </div>
      <div class="text-center">
        Already have an account?
        <span>
          <q-btn class="text-bold" align="left" flat color="primary" label="Login" to="/login" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: "",
      password: "",
      isPwd: true,
      confirmPswd: ""
    };
  },
  methods: {
      navigate(route,route2) {
      this.tabs=route;
      this.$router.replace(route2);
    },
  }
};
</script>

<style></style>
