// app global css in Stylus form
// -------------------------------------------
//Font
@font-face {
  font-family: PTSans;
  src: url(./fonts/PTSans-Regular.ttf);
}
.PTSans {
    font-family : 'PTSans'
}
@font-face {
  font-family: PTSans-Bold;
  src: url(./fonts/PTSans-Bold.ttf);
}
.PTSans-Bold {
    font-family : 'PTSans-Bold'
}
@font-face {
  font-family: PTSerif;
  src: url(./fonts/PTSerif-Regular.ttf);
}
.PTSerif {
    font-family : 'PTSerif'
}
@font-face {
  font-family: PTSerif-Bold;
  src: url(./fonts/PTSerif-Bold.ttf);
}
.PTSerif-Bold {
    font-family : 'PTSerif-Bold'
}
// -------------------------------------------
//Font
.bold {
    font-weight:bold
}

//font color
.navy {
    color: #233C8B
}
//font Size

.fs8{
  font-size: 8px;
}
.fs10{
  font-size: 10px;
}
.fs11{
  font-size: 11px;
}
.fs12{
  font-size: 12px;
}
.fs14{
  font-size: 14px;
}
.fs15{
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs30 {
  font-size: 30px;
}
