<template>
  <div class="q-pa-md" style="background-color:#F5F5F5">
    <q-layout view="lHh lpr lFf" container style="height: 783px">
      <!-- <q-header elevated style="height:55px">
        <q-toolbar class="glossy" style="margin-top:4px">
          <q-btn round color="white" style="width:35px; height:35px">
         
            <i style="font-size:15px;" class="text-black fas fa-arrow-left"></i>
         
          </q-btn>
          

          <q-toolbar-title>Investor Rules</q-toolbar-title>

          <q-avatar class="q-ml-sm bg-white">
            <div size="xs" class="fas fa-bell text-black"><q-badge color="red" floating>4</q-badge></div >
          </q-avatar>
          <q-avatar>
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>
        </q-toolbar>
      </q-header> -->
      <q-page-container>
          <div class="q-mx-auto" style="max-width: 1000px">
            <q-list style="background-color:#F5F5F5">
              <q-item v-for="listrule in listrules" :key="listrule.id" class="q-my-sm" clickable v-ripple>
                <q-card class="q-pa-xs" style="width:100%; elevated rounded">
                <q-card-section>
                  <div class="row">
                    <div class="col q-my-auto" style="max-width:50px">
                      <q-avatar color="primary" text-color="white">
                        {{ listrule.id }}
                      </q-avatar>
                    </div>
                    <div class="col q-ml-md">
                      <span class="text-bold text-h6 text-justify">{{ listrule.text }}</span><br/>
                      <span class="text-justify">{{ listrule.text2 }}</span>
                    </div>
                  </div>
                </q-card-section>
                </q-card>
              </q-item>
            </q-list>
          </div>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
const listrules = [ {
  id: 1,
  text: 'Strict to trading rules and trading plan',
  text2: 'Trade as pro trader'
}, {
  id: 2,
  text: 'Treat trading as business',
  text2: 'we are trader not a gambler'
}, {
  id: 3,
  text: 'No greed and overtrade',
  text2: 'Hiroshima destroyed in a day'
}, {
  id: 4,
  text: 'Protect our equity',
  text2: 'Dont force your way into the market everyday'
}, {
  id: 5,
  text: 'Calm, focus, and dicipline',
  text2: 'treat our '
}, {
  id: 6,
  text: 'Protect our equity',
  text2: 'Dont force your way into the market everyday'
}, {
  id: 7,
  text: 'Increase your master trader score',
  text2: 'Better score gain investor trust'
} ]

export default {
  data () {
    return {
      listrules
    }
  }
}
</script>
