<template>
  <div class="q-pa-md  items-start q-gutter-sm">
    <q-card
      class="my-card"
      flat
      bordered
     
      clickable
    >
      <q-card-section style="height:30px"  @click="expanded = !expanded, expandede=false">
        <div class="text-bold text-h5">
          Fahmi Abdelhaq Iskandar
        </div>
        <div>
          Today's profit
          <span class="text-green">+234.50</span>
        </div>
      </q-card-section>
      <q-card-actions>
        <q-space />
        <q-btn
          style="width:10%;bottom:10px;"
          color="grey"
          flat
          :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        ></q-btn>
      </q-card-actions>
      <q-slide-transition>
        <div v-show="expanded">
          <q-separator />
          <q-card-section>
            <div>
              <q-table
                
                :data="rows"
                :columns="columns"
                row-key="name"
                group="somegroup"
                :pagination.sync="pagination"
                hide-pagination
              />

              <div class="row justify-center q-mt-md">
                <q-pagination
                  v-model="pagination.page"
                  color="grey-8"
                  :max="pagesNumber"
                  size="sm"
                />
              </div>
            </div>
          </q-card-section>
        </div>
      </q-slide-transition>
    </q-card>
        <q-card
      class="my-card"
      
      flat
      bordered
     
      clickable
    >
      <q-card-section style="height:30px"  @click="expandede = !expandede, expanded=false">
        <div class="text-bold text-h5">
          Fahmi Abdelhaq 
        </div>
        <div>
          Today's profit
          <span class="text-green">+234.50</span>
        </div>
      </q-card-section>
      <q-card-actions>
        <q-space />
        <q-btn
          style="width:10%;bottom:10px;"
          color="grey"
          flat
          :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        ></q-btn>
      </q-card-actions>
      <q-slide-transition>
        <div v-show="expandede">
          <q-separator />
          <q-card-section>
            <div>
              <q-table
               
                :data="rows"
                :columns="columns"
                row-key="name"
                :pagination.sync="pagination"
                hide-pagination
              />

              <div class="row justify-center q-mt-md">
                <q-pagination
                  v-model="pagination.page"
                   group="somegroup"
                  color="grey-8"
                  :max="pagesNumber"
                  size="sm"
                />
              </div>
            </div>
          </q-card-section>
        </div>
      </q-slide-transition>
    </q-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expanded: false,
      expandede:false,
       pagination: {
        sortBy: 'desc',
        descending: false,
        page: 2,
        rowsPerPage: 5
        // rowsNumber: xx if getting data from a server
      },

      columns: [
        
        { name: 'desc',align: 'center',  label: 'Trx ID', field: 'TrxID', sortable: true },
        { name: 'Time', align: 'center',label: 'Time', field: 'Time', sortable: true },
        { name: 'Type', align: 'center', label: 'Type', field: 'Type' },
        { name: 'Profit', align: 'center', label: 'Profit', field: 'prProfitotein' }
      ],

      rows: [
        {
          TrxID: 'Frozen Yogurt',
          Time: 159,
          Type: 6.0,
          carbs: 24,
 
        },
        {
          TrxID: 'Ice cream sandwich',
          Time: 237,
          Type: 9.0,
          carbs: 37,
    
        },
        {
          TrxID: 'Eclair',
          Time: 262,
          Type: 16.0,
          carbs: 23,
       
        },
        {
          TrxID: 'Cupcake',
          Time: 305,
          Type: 3.7,
          carbs: 67,

        },
        {
          TrxID: 'Gingerbread',
          Time: 356,
          Type: 16.0,
          carbs: 49,
 
        },
        {
          TrxID: 'Jelly bean',
          Time: 375,
          Type: 0.0,
          carbs: 94,

        },
        {
          TrxID: 'Lollipop',
          Time: 392,
          Type: 0.2,
          carbs: 98,

        },
        {
          TrxID: 'Honeycomb',
          Time: 408,
          Type: 3.2,
          carbs: 87,

        },
        {
          TrxID: 'Donut',
          Time: 452,
          Type: 25.0,
          carbs: 51,

        },
        {
          TrxID: 'KitKat',
          Time: 518,
          Type: 26.0,
          carbs: 65,

        }
      ]
    }
  },

  computed: {
    pagesNumber () {
      return Math.ceil(this.rows.length / this.pagination.rowsPerPage)
    }
  }
    };

</script>

